*
  box-sizing border-box
body
  font-size 16px
  font-family sans serif


.banner
  background -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/banner.jpg)
  background-size cover
  background-attachment fixed
  background-position center
  height 100vh

.banner__title
  padding-top 11.5rem
  text-align center
  color white
  text-transform uppercase
  letter-spacing 0.2rem
  padding-right 1.88rem
  padding-left 1.88rem
  & .banner__description
    line-height 1.7rem
  & .link
    color white
    text-decoration none
    border-bottom 0.06rem dotted
    &:visited
      color white
    &:hover
      border-bottom none
      cursor pointer
  &-name
    font-size 2rem
    font-weight bold
  &-border
    padding 1.25rem
    border-top 0.13rem solid white
    border-bottom 0.13rem solid white
    margin 0 auto 1.85rem
    width 16.5rem
  
.banner__link-activate
  margin 2.5rem auto
  padding 1rem 0
  background-color #ed4933
  font-size 0.85rem
  max-width 10.1rem
  border-radius 0.19rem
  &:hover
    background-color coral
    -webkit-transition: background 0.4s ease-in
    cursor pointer

.banner__rollout
  padding-top 4.5rem
  text-decoration none
  font-size 0.8rem
  & .link
    border-bottom 0rem

.arrow-rollout
  max-width 1.2rem
  padding-top 1.5rem


.content
  background-color #21b2a6

.content, .article-content
  text-align center
  color white
  &__description
    padding-top 1rem
    padding-bottom 4.5rem
    &-text
      color #c7ebe8
      line-height 1.5rem
      font-size 1.1rem
      letter-spacing 0.05rem
  &__title
    letter-spacing 0.2rem
    font-size 1.5rem
    text-transform uppercase
    font-weight bold
    line-height 2.81rem
    &__border
      border-bottom 0.13rem solid rgba(black,.125)
      padding 6.25rem 0 1rem
      margin-bottom 1rem
      max-width 50rem

.content__square-image
  display flex
  justify-content space-between
  padding-bottom 7rem
  &_link
    width 4.9rem
    height 4.9rem
    border 0.13rem solid rgba(black,.125)
    border-radius 0.19rem
    transform rotate(-45deg)
    font-size 2.5rem
    padding-top 1.05rem
    & i
      transform rotate(45deg)
    & .content__square-image_link_diamond
      color #00ffcc
    & .content__square-image_link_heart
      color #00f0ff
    & .content__square-image_link_code
      color #76ddff

.row-content
  background-color #2e3842
  &__description
    color white
    letter-spacing 0.1rem
    &_header
      padding-top 6.25rem
      padding-left 3.13rem
      padding-bottom 0.94rem
    &_text
      padding-left 3.13rem
      padding-right 6.56rem
      line-height 1.88rem
    &_title
      font-size 1.5rem
      text-transform uppercase
      font-weight bold
      line-height 2.81rem
      letter-spacing 0.2rem

.row-content__image, .row-content__description
  padding 0
  margin 0
  
.row-content__image_computer
  background-color rgba(0, 0, 0, 0.075)
  
.row-content__image_mountain
  background-color rgba(0, 0, 0, 0.15)
  
.row-content__image_nature
  background-color rgba(0, 0, 0, 0.225)

.row-content__image__item
  width 31.25rem
  &-right
    float right

.article
  margin-top -0.19rem
  background-color #505393
  
.article-content
  &__link
    max-width 1040px
    background-color rgba(black,.035)
    color white
    padding 0 5.63rem
    letter-spacing 0.2rem
  &__item
    padding-right 3.75rem
    &_header
      font-size 1.1rem
      font-weight bold
      display block
      text-transform uppercase
      padding 3.75rem 0 1.88rem
      &_icon-fly
        &::before
          font-family FontAwesome
          content: "\f1d9"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
      &_icon-laptop
        &::before
          font-family FontAwesome
          content: "\f109"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
      &_icon-code
        &::before
          font-family FontAwesome
          content: "\f121"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
      &_icon-headphones
        &::before
          font-family FontAwesome
          content: "\f025"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
      &_icon-heart
        &::before
          font-family FontAwesome
          content: "\f08a"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
      &_icon-flag
        &::before
          font-family FontAwesome
          content: "\f11d"
          margin-left -1rem
          padding-right 1rem
          font-size 1.5rem
          color #00ffcc
    &_description
      line-height 1.5rem
      letter-spacing 0.05rem
      display block
      padding-bottom 3.75rem
      &:nth-child(2)
        padding-left 1.88rem