.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-xs-2,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-xs-4,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-xs-5,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6,
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-xs-7,
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-xs-8,
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-xs-9,
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-xs-10,
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-xs-11,
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before,
.container:after {
  display: block;
  content: '';
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 798px;
  }
}
@media (min-width: 980px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  display: block;
  content: '';
}
.row:after {
  clear: both;
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .col-md-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91.6666%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (max-width: 480px) {
  .col-xs-1 {
    width: 8.3333%;
  }
  .col-xs-2 {
    width: 16.6666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333%;
  }
  .col-xs-5 {
    width: 41.6666%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333%;
  }
  .col-xs-8 {
    width: 66.6666%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333%;
  }
  .col-xs-11 {
    width: 91.6666%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-push-1 {
    left: 8.333333333333332%;
  }
  .col-xs-push-2 {
    left: 16.666666666666664%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-4 {
    left: 33.33333333333333%;
  }
  .col-xs-push-5 {
    left: 41.66666666666667%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-7 {
    left: 58.333333333333336%;
  }
  .col-xs-push-8 {
    left: 66.66666666666666%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-10 {
    left: 83.33333333333334%;
  }
  .col-xs-push-11 {
    left: 91.66666666666666%;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-pull-1 {
    right: 8.333333333333332%;
  }
  .col-xs-pull-2 {
    right: 16.666666666666664%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-4 {
    right: 33.33333333333333%;
  }
  .col-xs-pull-5 {
    right: 41.66666666666667%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-7 {
    right: 58.333333333333336%;
  }
  .col-xs-pull-8 {
    right: 66.66666666666666%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-10 {
    right: 83.33333333333334%;
  }
  .col-xs-pull-11 {
    right: 91.66666666666666%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-xs-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: sans serif;
}
.banner {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.banner__title {
  padding-top: 11.5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-right: 1.88rem;
  padding-left: 1.88rem;
}
.banner__title .banner__description {
  line-height: 1.7rem;
}
.banner__title .link {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.06rem dotted;
}
.banner__title .link:visited {
  color: #fff;
}
.banner__title .link:hover {
  border-bottom: none;
  cursor: pointer;
}
.banner__title-name {
  font-size: 2rem;
  font-weight: bold;
}
.banner__title-border {
  padding: 1.25rem;
  border-top: 0.13rem solid #fff;
  border-bottom: 0.13rem solid #fff;
  margin: 0 auto 1.85rem;
  width: 16.5rem;
}
.banner__link-activate {
  margin: 2.5rem auto;
  padding: 1rem 0;
  background-color: #ed4933;
  font-size: 0.85rem;
  max-width: 10.1rem;
  border-radius: 0.19rem;
}
.banner__link-activate:hover {
  background-color: #ff7f50;
  -webkit-transition: background 0.4s ease-in;
  cursor: pointer;
}
.banner__rollout {
  padding-top: 4.5rem;
  text-decoration: none;
  font-size: 0.8rem;
}
.banner__rollout .link {
  border-bottom: 0rem;
}
.arrow-rollout {
  max-width: 1.2rem;
  padding-top: 1.5rem;
}
.content {
  background-color: #21b2a6;
  text-align: center;
  color: #fff;
}
.content__description {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.content__description-text {
  color: #c7ebe8;
  line-height: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
.content__title,
.content letter-spacing 0.2rem {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.81rem;
}
.content__title__border,
.content letter-spacing 0.2rem__border {
  border-bottom: 0.13rem solid rgba(0,0,0,0.125);
  padding: 6.25rem 0 1rem;
  margin-bottom: 1rem;
  max-width: 50rem;
}
.content__square-image {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7rem;
}
.content__square-image_link {
  width: 4.9rem;
  height: 4.9rem;
  border: 2px solid rgba(0,0,0,0.125);
  border-radius: 0.19rem;
  transform: rotate(-45deg);
  font-size: 2.5rem;
  padding-top: 1.05rem;
}
.content__square-image_link i {
  transform: rotate(45deg);
}
.content__square-image_link .content__square-image_link_diamond {
  color: #0fc;
}
.content__square-image_link .content__square-image_link_heart {
  color: #00f0ff;
}
.content__square-image_link .content__square-image_link_code {
  color: #76ddff;
}
.row-content {
  background-color: #2e3842;
}
.row-content__image,
.row-content__description {
  padding: 0;
  margin: 0;
}
.row-content__image_computer {
  background-color: rgba(0,0,0,0.075);
}
.row-content__image_mountain {
  background-color: rgba(0,0,0,0.15);
}
.row-content__image_nature {
  background-color: rgba(0,0,0,0.225);
}
.row-content__image__item {
  width: 500px;
}
.row-content__description {
  color: #fff;
  letter-spacing: 0.1rem;
}
.row-content__description_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.81rem;
  letter-spacing: 0.2rem;
}
